@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    @apply bg-white dark:bg-gray-950;

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;

        body {
            background-color: #101720;

            .mantine-Card-root {
                /* background-color: #192431; */
                background-color: #1a242f;
            }

            .mantine-SegmentedControl-root {
                background-color: #1a242f;
                border: 1px solid #424242;
            }
        }
    }
}

main {
    min-height: 100vh;
    padding-bottom: 8vh;
}