@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root[data-mantine-color-scheme='dark'] {
    --mantine-color-body: #101720;

    background-color: #101720;

    .mantine-Modal-root,
    .mantine-Modal-header,
    .mantine-Modal-content,
    .mantine-ColorInput-dropdown,
    .mantine-Card-root,
    .mantine-Accordion-item {
        /* background-color: #192431; */
        background-color: #1a242f;
    }

    .mantine-Menu-dropdown,
    .mantine-Select-wrapper,
    .mantine-Popover-dropdown,
    .mantine-Select-options,
    .mantine-Input-input {
        background-color: #101720;
    }

    .mantine-SegmentedControl-root {
        background-color: #1a242f;
        /* border: 1px solid #424242; */
        border: 1px solid #101720;
    }

    .mantine-LoadingOverlay-overlay {
        /* background-color: #192431; */
        background-color: #1a242f00;
    }

    .mantine-Table-tbody {
        --table-striped-color: #101720 !important;
    }
}

:root[data-mantine-color-scheme='light'] {

    .mantine-Accordion-item,
    .mantine-Card-root {
        background-color: #f2f4f6;
    }
}

main {
    min-height: 100vh;
    padding-bottom: 8vh;
}

.mantine-Menu-label {
    font-size: 16px;
}