.navLinksContainer {
    width: 100vw;
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    z-index: 99;
}

.navLinks {
    width: 95%;
    margin-bottom: 10px;
}
